
  <br> <br>
        <div class="espacio">
          <div *ngIf="(ErrorMessage != null && ProyectoSeleccionado == null )" class="alert alert-danger" id="danger">
            <strong>{{ErrorMessage}}</strong>
          </div>
          <div *ngIf="(ProyectoSeleccionado != null )" class=" alert alert-success">
            <span class="textstyle">Proyecto Seleccionado:</span> {{ProyectoSeleccionado.nombre}}
          </div>
        </div>

        <div class="row" id="infopro">
          <div class="col-xs-12 col-sm-5 col-md-6">
            <span class="textstyle">Usuario:</span> {{NombreDeUsuario}}
          </div>
        
          <br />
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="form-horizontal">
              <div class="form-group">
                <div class="input-group">
                  <div class="col-xs-3">
                    <select class="custom-select" *ngIf="ListaDeProyectos.length > 0"  (change)="SeleccionDeProyecto($event.target.value)">
                      <option selected>- Seleccione un proyecto </option>
                      <option *ngFor="let proyecto of ListaDeProyectos; let i = index" value={{i}}>{{proyecto.nombre}}</option>
                    </select>
                    <span *ngIf="ListaDeProyectos.length == 0" class="textstyledanger">
                      <app-loading></app-loading>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <br> <br>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-2"></div>
          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="titulo" (click)="showModal(content)">
              <a>Nueva <br />Evaluaci&oacute;n</a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="titulo" (click)="EvaluacionesAnteriores()" id="bajarmedia">
              <a>Evaluaciones <br />Anteriores</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-2"></div>
        </div>

        <ng-template #content let-cl="close" let-di="dismiss">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Advertencia</h5> <button type="button" class="close" (click)="cl('Cerrar')">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Ya existe una evaluación sin terminar</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="di('Continuar')">Continuar</button>
              <button type="button" class="btn btn-primary" (click)="di('Nueva')">Nueva</button>
              <button type="button" class="btn btn-secondary" (click)="cl('Cerrar')">Cancelar</button>
            </div>
          </div>
        </ng-template>
