.loading {
  margin-top: 0%;
}

.Warning {
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}

.wrapper {
  text-align: center;
}

#infopro {
  border: 2px solid #99AD00;
  margin: 0 auto;
  padding: 15px 15px;
  text-align: left;
  max-width: 1100px;
  font-size: 16px;
  margin-top: 15px;
  border-radius: 5px;
}

  h2{
    text-align: center;
}

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

//Icons
.icons{
  width: 38px;
  height: auto;
}

//Titulos tabla
input[type="text"]:disabled {
  background: #dddddd;
  font-size:20px;
  height: 38px;
}

//Radio Button
.radio {
  display: inline;
  cursor: pointer;
  user-select: none;
  text-align: left;
  padding-left: 20px;

  & + .radio {
    margin-top: 7px;
  }

  input {
    display: none;

    & + span {
      display: inline;
      position: relative;
      padding-left: 20px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 4px;
        left: 0px;
        border-radius: 50%;
        margin-right: 5px;
        width: 16px;
        height: 16px;
        border: 1px solid #ccc;
        background: #fff;
      }

      &:after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        background: #222;
        position: absolute;
        border-radius: 50%;
        top: 8px;
        left: 4px;
        opacity: 0;
        transform: scale(0,0);
        transition: all .2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
      }
    }

    &:checked + span:after {
      opacity: 1;
      transform: scale(1,1);
    }
  }
}
/* END CHECKBOX STYLE */
