<br>
<br>
<div class="row" id="infopro">

  <div class="col-xs-12 col-sm-5 col-md-5">
    Usuario: {{UserName}}
  </div>
  <div class="col-xs-12 col-sm-5 col-md-5">
    Fecha: {{ Project.fecha | date:'MM-dd-yyyy' }}
  </div>

  <div class="col-xs-12 col-sm-5 col-md-5">

    <div class="form-horizontal">
      <div class="form-group">
        <label for="sel1">Proyecto: {{Project.nombre}}</label>

      </div>
    </div>

  </div>
</div>
<br>


<div class="container" *ngIf="Mostrar && ListaDeEvaluacionesPaginada.length != 0">

  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-3"></div>
    <div class="col-xs-12 col-sm-8 col-md-6">
      <h2>Evaluaciones anteriores</h2>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-3"></div>
  </div>

  <div class="row">
    <div class="panel panel-primary filterable">
      <div class="panel-heading">
        <div class="pull-right">
          <button class="btn btn-default btn-xs btn-filter" (click)="Restablecer()">Filtrados</button>

          <label class="radio" *ngIf="clicked" (click)="ChangeFiltro(null)">
            <input name="radio" type="radio" checked>
            <span>Todos</span>
          </label>

          <label class="radio" *ngIf="clicked" (click)="ChangeFiltro(true)">
            <input name="radio" type="radio">
            <span>Completado</span>
          </label>

          <label class="radio" *ngIf="clicked" (click)="ChangeFiltro(false)">
            <input name="radio" type="radio">
            <span>No Completado</span>
          </label>

        </div>
      </div>
      <table class="table">
        <thead>
          <tr class="filters">
            <th>
              <input type="text" class="form-control" placeholder="Fecha" disabled *ngIf="!clicked">
              <input type="text" class="form-control" placeholder="Fecha" *ngIf="clicked" [(ngModel)]="EvaluacionBuscada.fecha">
            </th>
            <th>
              <input type="text" class="form-control" placeholder="Proyecto" disabled *ngIf="!clicked">
              <input type="text" class="form-control" placeholder="Proyecto" *ngIf="clicked" [(ngModel)]="EvaluacionBuscada.nombre">
            </th>
            <th>
              <input type="text" class="form-control" placeholder="Usuario" disabled *ngIf="!clicked">
              <input type="text" class="form-control" placeholder="Usuario" *ngIf="clicked" [(ngModel)]="EvaluacionBuscada.usuario">
            </th>
            <th>
              <input type="text" class="form-control" placeholder="Puntuación" disabled *ngIf="!clicked">
              <input type="text" class="form-control" placeholder="Puntuación" pattern="[0-9]{3}" *ngIf="clicked" [(ngModel)]="nrespuestas">
            </th>
            <th>
              <input type="text" class="form-control" placeholder="Estado" disabled>
            </th>
            <th>
              <input type="text" class="form-control" placeholder="Informe" disabled>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let evaluacion of Busqueda()">
            <td>{{evaluacion.fecha | date:'MM-dd-yyyy'}}</td>
            <td>{{evaluacion.nombre}}</td>
            <td>{{evaluacion.userNombre}}</td>
            <td>{{evaluacion.nRespuestas}}/{{evaluacion.nPreguntas}}</td>
            <td *ngIf="evaluacion.estado"><img class="icons" src="../../assets/check.png" /></td>
            <td *ngIf="!evaluacion.estado"><img class="icons" src="../../assets/warning.png" /></td>
            <td><button type="button" class="btn" (click)="SaveDataToPDF(evaluacion)">VER GRAFICA </button></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class="wrapper">
    <button type="button" class="btn btn-outline-success" (click)="NextPreviousButton(false)">Anterior</button>
    <strong>
      {{PageNow}}/{{NumMax}}
    </strong>
    <button type="button" class="btn btn-outline-success" (click)="NextPreviousButton(true)">Siguiente</button>
  </div>
</div>



<div *ngIf="Mostrar && ListaDeEvaluaciones.length == 0">
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-3"></div>
    <div class="col-xs-12 col-sm-8 col-md-6">
      <h2 class="Warning">
        No existen evaluaciones para este proyecto.
      </h2>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-3"></div>
  </div>
</div>

<div class="loading" *ngIf="!Mostrar">
  <app-loading></app-loading>
</div>

