

#preguntas{
    text-align: left;
}

#infopro {
  border: 2px solid #99AD00;
  margin: 0 auto;
  padding: 15px 15px;
  text-align: left;
  max-width: 1100px;
  font-size: 16px;
  margin-top: 15px;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

.wrapper {
  text-align: center;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.loading {
position: fixed;
margin-top: 10%;
}

//Estilos para los botones de las preguntas para responder
@media (max-width: 574px) {
  .onoffswitch {
    margin-top: 3%;
    margin-left: 39%;
    position: relative;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "SI";
    padding-left: 23px;
    background-color: #22D42B; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 23px;
    background-color: #EB3636; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

